In [53]:
import tensorflow as tf
import numpy as np
from tensorflow import keras
import pandas as pd
import tensorflow as td
from matplotlib import pyplot as plt
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
%matplotlib inline

In [33]:
df = pd.read_csv("C:/Users/Admin/Desktop/Machine Learning/data/Bank customer/archive/Churn_Modelling.csv")

In [34]:
df.sample(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
1835,1836,15583718,Terry,696,Germany,Male,38,6,142316.14,1,1,1,8018.49,0
8597,8598,15659694,Wallis,634,Germany,Female,53,3,113781.50,2,1,1,106345.05,1
9994,9995,15719294,Wood,800,France,Female,29,2,0.00,2,0,0,167773.55,0
3879,3880,15757541,Rickard,778,France,Female,33,9,151772.63,2,0,0,180249.94,1
9776,9777,15700714,Hollis,747,France,Male,29,7,0.00,2,1,1,141706.43,0
3073,3074,15614420,Gerasimova,531,Germany,Female,32,0,109570.21,2,1,1,172049.84,0
178,179,15762615,Campbell,597,Spain,Female,40,8,101993.12,1,0,1,94774.12,0
5913,5914,15639530,Buda,679,Spain,Male,42,2,0.00,1,1,1,168294.27,0
8983,8984,15783025,Piazza,723,Germany,Male,37,3,94661.53,2,1,0,121239.65,0
4622,4623,15703614,Hutchinson,564,Spain,Male,48,5,132876.23,1,1,0,79259.77,0

In [35]:
df.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [36]:
df.drop(df.iloc[:,:3], inplace=True, axis=1)

In [37]:
df.replace({'Female':1,'Male':0},inplace=True)

In [38]:
for cols in df:
    if df[cols].dtype=='object':
        print(df[cols].unique())

['France' 'Spain' 'Germany']

In [39]:
df2 = pd.get_dummies(df, prefix=['Geography'])

In [40]:
x = df2.drop('Exited',axis=1)
y = df2['Exited']

In [41]:
x.shape

(10000, 12)

In [42]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [43]:
model = keras.Sequential([
    keras.layers.Dense(100,input_shape=(12,),activation='relu'),
    keras.layers.Dense(10,activation='relu'),
    keras.layers.Dense(1,activation='sigmoid')
])

WARNING:tensorflow:From C:\Users\Admin\miniconda3\envs\ml\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [44]:
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\Admin\miniconda3\envs\ml\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [45]:
model.fit(x_train,y_train,epochs=5)

Epoch 1/5
6700/6700 [==============================] - 0s 23us/sample - loss: 255.7615 - acc: 0.6651
Epoch 2/5
6700/6700 [==============================] - 0s 14us/sample - loss: 33.3279 - acc: 0.6701
Epoch 3/5
6700/6700 [==============================] - 0s 14us/sample - loss: 37.7759 - acc: 0.6745
Epoch 4/5
6700/6700 [==============================] - 0s 14us/sample - loss: 36.9259 - acc: 0.6781
Epoch 5/5
6700/6700 [==============================] - 0s 14us/sample - loss: 53.7880 - acc: 0.6815

In [46]:
model.evaluate(x_test,y_test)

3300/3300 [==============================] - 0s 10us/sample - loss: 20.3529 - acc: 0.8033

[20.35292838014154, 0.80333334]

In [47]:
y_pred = model.predict(x_test).reshape(-1)

In [48]:
y_predicted = []
for i in y_pred:
    if(i>0.5):
        y_predicted.append(1)
    else:
        y_predicted.append(0)

In [49]:
y_predicted[:10]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [50]:
y_test[:10]

6252    0
4684    0
1731    0
4742    0
4521    0
6340    0
576     0
5202    1
6363    0
439     0
Name: Exited, dtype: int64

In [51]:
names = ['class_0','class_1']

In [52]:
print(classification_report(y_test,y_predicted,target_names=names))

              precision    recall  f1-score   support

     class_0       0.81      1.00      0.89      2657
     class_1       0.31      0.01      0.02       643

    accuracy                           0.80      3300
   macro avg       0.56      0.50      0.45      3300
weighted avg       0.71      0.80      0.72      3300

In [55]:
#why is it not running I have to find out
# import seaborn as sn
# cm = tf.math.confusion_matrix(labels=y_test,predictions=y_predicted)

# plt.figure(figsize = (10,7))
# sn.heatmap(cm, annot=True, fmt='d')
# plt.xlabel('Predicted')
# plt.ylabel('Truth')